{% assign content = site.data.content['code'] %}

<!-- About -->
<div class="content code">

	{{ if content.title != '' }}
	<!-- title -->
	<div class="title">{{ content.title }}</div>
	{{ endif }}


</div>

<!DOCTYPE html>
<html>
<head>
    <title>GitHub Repositories</title>
</head>
<body>
	<div>
        <strong><a href="https://github.com/TUMFTM/CameraRadarFusionNet">CameraRadarFusionNet</a></strong>
		<br>
		<small>Convolutional neural network fusion architecture for multi-level fusion of camera and radar data </small>
        <p>
            <a href="https://github.com/TUMFTM/CameraRadarFusionNet">
                <img src="https://img.shields.io/github/stars/TUMFTM/CameraRadarFusionNet?style=social" alt="Stars">
            </a>
            <a href="https://github.com/TUMFTM/CameraRadarFusionNet">
                <img src="https://img.shields.io/github/forks/TUMFTM/CameraRadarFusionNet?style=social" alt="Forks">
            </a>
            <a href="https://github.com/TUMFTM/CameraRadarFusionNet">
                <img src="https://img.shields.io/github/issues/TUMFTM/CameraRadarFusionNet" alt="Issues">
            </a>
        </p>
    </div>

	<hr>

	<div>
        <strong> <a href="https://github.com/TUMFTM/EthicalTrajectoryPlanning">EthicalTrajectoryPlanning</a></strong>
		<br>
		<small>Ethical and risk-aware approach to AV trajectory planning based on EU recommendations </small>
        <p>
            <a href="https://github.com/TUMFTM/EthicalTrajectoryPlanning">
                <img src="https://img.shields.io/github/stars/TUMFTM/EthicalTrajectoryPlanning?style=social" alt="Stars">
            </a>
            <a href="https://github.com/TUMFTM/EthicalTrajectoryPlanning">
                <img src="https://img.shields.io/github/forks/TUMFTM/EthicalTrajectoryPlanning?style=social" alt="Forks">
            </a>
            <a href="https://github.com/TUMFTM/EthicalTrajectoryPlanning">
                <img src="https://img.shields.io/github/issues/TUMFTM/EthicalTrajectoryPlanning" alt="Issues">
            </a>
        </p>
    </div>

	<hr>



	<div>
        <strong><a href="https://github.com/TUMFTM/Wale-Net">Wale-Net</a></strong>
		<br>
		<small>Recurrent neural network for probabilistic vehicle trajectory prediction </small>
        <p>
            <a href="https://github.com/TUMFTM/Wale-Net">
                <img src="https://img.shields.io/github/stars/TUMFTM/Wale-Net?style=social" alt="Stars">
            </a>
            <a href="https://github.com/TUMFTM/Wale-Net">
                <img src="https://img.shields.io/github/forks/TUMFTM/Wale-Net?style=social" alt="Forks">
            </a>
            <a href="https://github.com/TUMFTM/Wale-Net">
                <img src="https://img.shields.io/github/issues/TUMFTM/Wale-Net" alt="Issues">
            </a>
        </p>
    </div>

	<hr>

	<div>
        <strong><a href="https://github.com/TUMFTM/laptime-simulation">laptime-simulation</a></strong>
		<br>
		<small>Laptime simulation for motorsport such as Formula One or DTM </small>
        <p>
            <a href="https://github.com/TUMFTM/laptime-simulation">
                <img src="https://img.shields.io/github/stars/TUMFTM/laptime-simulation?style=social" alt="Stars">
            </a>
            <a href="https://github.com/TUMFTM/laptime-simulation">
                <img src="https://img.shields.io/github/forks/TUMFTM/laptime-simulation?style=social" alt="Forks">
            </a>
            <a href="https://github.com/TUMFTM/laptime-simulation">
                <img src="https://img.shields.io/github/issues/TUMFTM/laptime-simulation" alt="Issues">
            </a>
        </p>
    </div>

	<hr>

	<div>
        <strong><a href="https://github.com/TUMFTM/MixNet">MixNet</a></strong>
		<br>
		<small>Considering physics in pattern-based motion prediction for race vehicles </small>
        <p>
            <a href="https://github.com/TUMFTM/MixNet">
                <img src="https://img.shields.io/github/stars/TUMFTM/MixNet?style=social" alt="Stars">
            </a>
            <a href="https://github.com/TUMFTM/MixNet">
                <img src="https://img.shields.io/github/forks/TUMFTM/MixNet?style=social" alt="Forks">
            </a>
            <a href="https://github.com/TUMFTM/MixNet">
                <img src="https://img.shields.io/github/issues/TUMFTM/MixNet" alt="Issues">
            </a>
        </p>
    </div>

	<hr>


	

</body>
</html>
