<!-- About -->
<div class="content media">

	{{ if content.title != '' }}
	<!-- title -->
	<div class="title">Media Appearances</div>
	{{ endif }}

</div>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Appearances List</title>
  <style>
    /* Global styles */
    body {
      font-family: $default-font;
      margin: 20px;
    }
    h1 {
      text-align: center;
    }

    /* Styles for the appearances list section */
    .appearances-list {
      list-style-type: none;
      padding: 0;
    }
    .appearances-list li {
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
    .appearances-list .title {
      font-weight: bold;
    }
    .appearances-list .date {
      color: #777;
      font-size: 12px;
    }
    .appearances-list .link {
      color: #ffffff;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <ul class="appearances-list">
    <li>
      <span class="title">Ethics of Autonomous Vehicles - SRF1 Einstein (TV) in <a href="https://youtu.be/qenFrm6DbIk?si=0sfSo1wtxaBmGvH0&t=1500" class="link">SRF Media Library</a></span><br>
      <span class="date">Date: 14.09.2023</span><br>
    </li>

    <li>
      <span class="title">Autonomous driving: New algorithm distributes risk fairly in <a href="https://www.tum.de/en/news-and-events/all-news/press-releases/details/autonomes-fahren-neuer-algorithmus-verteilt-risiken-fair" class="link">TUM Press Release</a></span><br>
      <span class="date">Date: 02.03.2023</span><br>
    </li>

    <li>
      <span class="title">"Neuer Algorithmus soll ethische Fragen adressieren" in <a href="https://www.automotiveit.eu/technology/neuer-algorithmus-soll-ethische-fragen-adressieren-980.html#:~:text=Autonomes%20Fahren-,Neuer%20Algorithmus%20soll%20ethische%20Fragen%20adressieren,Empfehlungen%20der%20EU%2DKommission%20berücksichtigt." class="link">Automotive IT</a></span><br>
      <span class="date">Date: 21.12.2022</span><br>
    </li>


    <li>
      <span class="title">"Autonomes Fahren: Die TU München ist schneller als die Hersteller" in <a href="https://www.welt.de/motor/news/article242815043/Spielerisch-weiter-Autonomes-Fahren-Die-TU-Muenchen-ist-schneller-als-die-Hersteller.html" class="link">WELT</a></span><br>
      <span class="date">Date: 21.12.2022</span><br>
    </li>

    <li>
      <span class="title">"Interview about autonomes vehicles" in <a href="#" class="link">Bayern 2 Radiowelt</a></span><br>
      <span class="date">Date: 24.05.2022</span><br>
    </li>

    <li>
      <span class="title">"Automation of trucks" in <a href="https://www.faz.net/aktuell/wissen/computer-mathematik/autonomes-fahren-automatisierung-macht-lkw-fahrer-arbeitslos-17928458.html" class="link">F.A.Z.</a></span><br>
      <span class="date">Date: 07.04.2022</span><br>
    </li>

    <li>
      <span class="title">"Autonomous Challenge @ CES" in <a href="https://www.sueddeutsche.de/wirtschaft/elektronik-tu-muenchen-belegt-zweiten-platz-bei-roboterauto-rennen-dpa.urn-newsml-dpa-com-20090101-220108-99-632344" class="link">Süddeutsche Zeitung</a></span><br>
      <span class="date">Date: 07.04.2022</span><br>
    </li>

    <li>
      <span class="title">"Autonomous Driving Ethics" in <a href="#" class="link">Bild der Wissenschaft (Print)</a></span><br>
      <span class="date">Date: 06/2021 </span><br>
    </li>

    <li>
      <span class="title">"Autonomous Driving and Infrastructure" in <a href="https://detektor.fm/gesellschaft/automobil-autonome-fahrzeuge" class="link">Podcast Automobil</a></span><br>
      <span class="date">Date: 07.05.2021 </span><br>
    </li>



    <li>
      <span class="title">Autonomous Driving Ethics - beta stories (TV) in <a href="https://www.ardmediathek.de/video/beta-stories/zukunft-selbstfahrende-autos-so-entscheiden-sie-beim-unfall-s03-e01/br-fernsehen/Y3JpZDovL2JyLmRlL3ZpZGVvLzNjNTRiNzA4LWRiN2YtNDc1ZS05NmIxLWVlYjU0ZDM3NzI3Yg/" class="link">ARD Media Library</a></span><br>
      <span class="date">Date: 21.05.2021</span><br>
    </li>
    <li>
		<span class="title">Challenges in Autonomous Driving - <a href="https://www.tagesspiegel.de/wissen/wenn-die-autos-selbst-fahren-experten-erwarten-rueckgang-von-unfaellen/27148340.html" class="link">Tagesspiegel</a></span><br>
		<span class="date">Date: 30.04.2021</span><br>
	</li>




    <!-- Add other appearances similarly -->
  </ul>
</body>
</html>
